@tailwind base;
@tailwind components;
@tailwind utilities;




.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 10rem;   
}





/*---------------------------------------------- #### Shoping CSS */

@media screen and (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .photo {
      height: 175px;
    }
  }
  @media screen and (min-width: 1200px) {
    .photo {
      height: 150px;
    }  
  }


 .menu-item  {
    
 }

.item-box{
    background-color: rgb(229, 235, 252);
    /* padding: 5px; */
  
  }

  .photo {
    /* object-fit: cover; */
    object-fit: contain;
    height: 200px;
    width: 250px;
    margin-top: 10px;
    /* width: 100%; */
    display: block;
  }

  .item-info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    /* border-bottom: 0.5px dotted var(--clr-grey-5); */
  }
  .item-info h4 {
    font-size: medium;
    margin-bottom: 0.5rem;
    padding:5px 0px ;
  }
  .price {
    color: blue;
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  .items-icon{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 184, 184);
    padding: 5px;
    opacity: 0;
  }
  .item-box:hover .items-icon {
    opacity: 1;
  }
  .icn{
    /* color: rgb(97, 153, 14); */
    font-weight:bolder;
    /* height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: azure;
    padding: 5px; */
    margin: 0px 15px;
    /* transition : 1s; */
  }
  .icn:hover{
    transition : 1s;
    transform : rotate3d(0 , 1 , 0,180deg)
  }
 